@mixin antialiased {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin subpixeled {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin border-radius($radius, $important:"") {
  -webkit-border-radius: $radius unquote($important);
  -moz-border-radius: $radius unquote($important);
  border-radius: $radius unquote($important);
}

@mixin box-shadow($value...) {
  box-shadow: $value;
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
}

@mixin filter($value...) {
  -webkit-filter: $value;
  -moz-filter: $value;
  -o-filter: $value;
  -ms-filter: $value;
  filter: $value;
}

@mixin display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
}

@mixin flex($value) {
  -webkit-box-flex: $value;
  -webkit-flex: $value;
  -ms-flex: $value;
  flex: $value;
}

@mixin flex-basis($value) {
  -webkit-flex-basis: $value;
  -moz-flex-basis: $value;
  flex-basis: $value;
}

@mixin flex-direction($value) {
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin linear-gradient($value) {
  background: -webkit-linear-gradient($value);
  background: -o-linear-gradient($value);
  background: -moz-linear-gradient($value);
  background: linear-gradient($value);
}

@mixin transition($value...) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transform($value...) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

@mixin animation-delay($value) {
  -webkit-animation-delay: $value;
  -moz-animation-delay: $value;
  animation-delay: $value;
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin clear {
  &:before {
    content: " ";
    display: table;
  }
  
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@mixin sans-serif {
  font-family: "Helvetica Neue", sans-serif;
}

@mixin serif {
  font-family: Georgia, serif;
  
  @include subpixeled;
}

%clear, .clear {
  &:before {
    display: table;
    content: " ";
  }

  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}
